.md3-btn {
    border: 0;
    font-family: var(--fontRobotoRegular);
    padding: 10px 24px;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.5s;
    font-weight: 500;
    text-decoration: none;
    &.filled {
        background-color: var(--primaryColor);
        color: var(--onPrimaryColor);
        &:hover {
            opacity: 0.9;
            box-shadow: var(--shadowSmall);
        }
    }
    &.disabled {
        background-color: var(--disBackgroundColor);
        color: var(--disColor);
        cursor: default;
    }
    &.with-icon {
        padding-left: 19px;
        .md3-icon {
            vertical-align: middle;
            margin: -3px 8px 0 0;
        }
    }
    &.outlined {
        border: 2px solid var(--primaryColor);
        color: var(--primaryColor);
        background-color: transparent;
        &:hover {
            background-color: var(--onPrimaryColor);
        }
    }
    &.outlined.disabled {
        border: 2px solid var(--disBackgroundColor);
        color: var(--disColor);
        background-color: transparent;
    }
}
