.md3-btn,
.md3-btn-dis,
.md3-btn-wicon,
.md3-btn-wicon-dis,
.md3-btn-otl,
.md3-btn-otl-dis,
.md3-btn-otl-wicon,
.md3-btn-otl-wicon-dis {
    border: 0;
    font-family: var(--fontRobotoRegular);
    padding: 10px 24px;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.5s;
    font-weight: 500;
}

.md3-btn,
.md3-btn-wicon {
    background-color: var(--primaryColor);
    color: var(--onPrimaryColor);
    &:hover {
        opacity: 0.9;
        box-shadow: var(--shadowSmall);
    }
}

.md3-btn-dis,
.md3-btn-wicon-dis {
    background-color: var(--disBackgroundColor);
    color: var(--disColor);
}

.md3-btn-wicon,
.md3-btn-wicon-dis,
.md3-btn-otl-wicon,
.md3-btn-otl-wicon-dis {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding-left: 19px;
}

.md3-btn-otl,
.md3-btn-otl-wicon {
    border: 1px solid var(--primaryColor);
    color: var(--primaryColor);
    background-color: transparent;
    &:hover {
        background-color: var(--onPrimaryColor);
    }
}

.md3-btn-otl-dis,
.md3-btn-otl-wicon-dis {
    border: 1px solid var(--disBackgroundColor);
    color: var(--disColor);
    background-color: transparent;
}
