.md3-btn {
    border: 0;
    font-family: var(--fontRobotoMedium);
    padding: 10px 24px;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.5s;
    text-decoration: none;
    &.filled {
        background-color: var(--primaryColor);
        color: var(--onPrimaryColor);
        &:hover {
            opacity: 0.9;
            box-shadow: var(--shadowSmall);
        }
    }
    &.disabled {
        background-color: var(--disBackgroundColor);
        color: var(--disColor);
        cursor: default;
        &:hover {
            opacity: 1;
            box-shadow: none;
        }
    }
    &.with-icon {
        padding-left: 19px;
        .md3-icon {
            vertical-align: middle;
            margin: -3px 8px 0 0;
        }
    }
    &.outlined {
        border: 2px solid var(--primaryColor);
        color: var(--primaryColor);
        background-color: transparent;
        &:hover {
            background-color: var(--containerColor);
        }
        &.disabled {
            border: 2px solid var(--disBackgroundColor);
            color: var(--disColor);
            background-color: transparent;
        }
    }
    &.texted {
        background-color: transparent;
        color: var(--primaryColor);
        &:hover {
            background-color: var(--containerColor);
        }
        &.disabled {
            color: var(--disColor);
            &:hover {
                background: transparent;
            }
        }
    }
}
