// PRODUCT SANS

@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Product Sans'),
        url('../fonts/ProductSans-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Product Sans Light';
    font-style: normal;
    font-weight: 300;
    src: local('Product Sans Light'),
        url('../fonts/ProductSans-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Product Sans Bold';
    font-style: normal;
    font-weight: 700;
    src: local('Product Sans'),
        url('../fonts/ProductSans-Bold.ttf') format('truetype');
}

// ROBOTO

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), url('../fonts/Roboto-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto Bold';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto'), url('../fonts/Roboto-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto Light';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'),
        url('../fonts/Roboto-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto Medium';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Medium'),
        url('../fonts/Roboto-Medium.ttf') format('truetype');
}

// ROBOTO MONO

@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'),
        url('../fonts/RobotoMono-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto Mono Bold';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto'), url('../fonts/RobotoMono-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto Mono Light';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'),
        url('../fonts/RobotoMono-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto Mono Medium';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Medium'),
        url('../fonts/RobotoMono-Medium.ttf') format('truetype');
}

// MATERIAL SYMBOLS

@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v61/kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY43zj-jCxv3fzvRNU22ZXGJpEpjC_1v-p_4MrImHCIJIZrDCvHOejbd5zrDAt.woff2)
        format('woff2');
}

.md3-icon {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: var(--fontSizeBody);
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}
