:root {
    // fonts
    --fontProductRegular: 'Product Sans', sans-serif;
    --fontProductThin: 'Product Sans Thin', sans-serif;
    --fontProductBold: 'Product Sans Bold', sans-serif;
    --fontRobotoRegular: 'Roboto', sans-serif;
    --fontRobotoThin: 'Roboto Thin', sans-serif;
    --fontRobotoMedium: 'Roboto Medium', sans-serif;
    --fontRobotoBold: 'Roboto Bold', sans-serif;
    --fontRobotoMonoRegular: 'Roboto Mono', monospace;
    --fontRobotoMonoThin: 'Roboto Mono Thin', monospace;
    --fontRobotoMonoMedium: 'Roboto Mono Medium', monospace;
    --fontRobotoMonoBold: 'Roboto Mono Bold', monospace;
    --fontSizeHeadline: 32px;
    --fontSizeTitle: 22px;
    --fontSizeBody: 16px;
    // shadows
    --shadowSmall: 0px 1px 2px rgba(0, 0, 0, 0.3),
        0px 1px 3px 1px rgba(0, 0, 0, 0.15);
    --shadowMedium: 0px 4px 8px 3px rgba(0, 0, 0, 0.15),
        0px 1px 3px rgba(0, 0, 0, 0.3);
    --shadowLarge: 0px 8px 12px 6px rgba(0, 0, 0, 0.15),
        0px 4px 4px rgba(0, 0, 0, 0.3);
    // colors
    --purplePrimaryColor: #6750a4;
    --purpleSecondaryColor: #625b71;
    --purpleBackgroundColor: #fffbfe;
    --purpleContainerColor: #eaddff;
    --darkPurplePrimaryColor: #d0bcff;
    --darkPurpleSecondaryColor: #ccc2dc;
    --darkPurpleBackgroundColor: #1c1b1f;
    --darkPurpleContainerColor: #4f378b;
    --darkPurpleOnPrimaryColor: #381e72;
    --darkPurPleOnSecondaryColor: #332d41;
    --greenPrimaryColor: #2d685d;
    --greenSecondaryColor: #54615d;
    --greenBackgroundColor: #fdfcfa;
    --greenContainerColor: #b2eee1;
    --darkGreenPrimaryColor: #97d2c5;
    --darkGreenSecondaryColor: #bcc9c5;
    --darkGreenBackgroundColor: #1a1c1b;
    --darkGreenContainerColor: #0e5046;
    --darkGreenOnPrimaryColor: #00372f;
    --darkGreenOnSecondaryColor: #273330;
    --yellowPrimaryColor: #865300;
    --yellowSecondaryColor: #74593a;
    --yellowBackgroundColor: #fffbff;
    --yellowContainerColor: #ffddb8;
    --darkYellowPrimaryColor: #ffb961;
    --darkYellowSecondaryColor: #e4c09a;
    --darkYellowBackgroundColor: #1f1b16;
    --darkYellowContainerColor: #653e00;
    --darkYellowOnPrimaryColor: #472a00;
    --darkYellowOnSecondaryColor: #3d2d1b;
    --pinkPrimaryColor: #b8006e;
    --pinkSecondaryColor: #844e63;
    --pinkBackgroundColor: #fffbff;
    --pinkContainerColor: #ffd9e4;
    --darkPinkPrimaryColor: #ffb0cd;
    --darkPinkSecondaryColor: #f8b3cc;
    --darkPinkBackgroundColor: #201a1c;
    --darkPinkContainerColor: #8c0053;
    --darkPinkOnPrimaryColor: #640039;
    --darkPinkOnSecondaryColor: #4c2334;
    --errorColor: #ba1a1a;
    --darkErrorColor: #ffb4ab;
    --lightOnPrimaryColor: #ffffff;
    --disColor: rgba(28, 27, 31, 0.38);
    --disBackgroundColor: rgba(31, 31, 31, 0.12);
    --darkDisColor: rgba(230, 225, 229, 0.38);
    --darkDisBackgroundColor: rgba(227, 227, 227, 0.12);
}

body.md3-purple {
    --primaryColor: var(--purplePrimaryColor);
    --secondaryColor: var(--purpleSecondaryColor);
    --backgroundColor: var(--purpleBackgroundColor);
    --containerColor: var(--purpleContainerColor);
    --onPrimaryColor: var(--lightOnPrimaryColor);
}

body.md3-purple-dark {
    --primaryColor: var(--darkPurplePrimaryColor);
    --secondaryColor: var(--darkPurpleSecondaryColor);
    --backgroundColor: var(--darkPurpleBackgroundColor);
    --containerColor: var(--darkPurpleContainerColor);
    --onPrimaryColor: var(--darkPurpleOnPrimaryColor);
    --disColor: var(--darkDisColor);
    --disBackgroundColor: var(--darkDisBackgroundColor);
}

body.md3-green {
    --primaryColor: var(--greenPrimaryColor);
    --secondaryColor: var(--greenSecondaryColor);
    --backgroundColor: var(--greenBackgroundColor);
    --containerColor: var(--greenContainerColor);
    --onPrimaryColor: var(--lightOnPrimaryColor);
}

body.md3-green-dark {
    --primaryColor: var(--darkGreenPrimaryColor);
    --secondaryColor: var(--darkGreenSecondaryColor);
    --backgroundColor: var(--darkGreenBackgroundColor);
    --containerColor: var(--darkGreenContainerColor);
    --onPrimaryColor: var(--darkGreenOnPrimaryColor);
    --disColor: var(--darkDisColor);
    --disBackgroundColor: var(--darkDisBackgroundColor);
}

body.md3-yellow {
    --primaryColor: var(--yellowPrimaryColor);
    --secondaryColor: var(--yellowSecondaryColor);
    --backgroundColor: var(--yellowBackgroundColor);
    --containerColor: var(--yellowContainerColor);
    --onPrimaryColor: var(--lightOnPrimaryColor);
}

body.md3-yellow-dark {
    --primaryColor: var(--darkYellowPrimaryColor);
    --secondaryColor: var(--darkYellowSecondaryColor);
    --backgroundColor: var(--darkYellowBackgroundColor);
    --containerColor: var(--darkYellowContainerColor);
    --onPrimaryColor: var(--darkYellowOnPrimaryColor);
    --disColor: var(--darkDisColor);
    --disBackgroundColor: var(--darkDisBackgroundColor);
}

body.md3-pink {
    --primaryColor: var(--pinkPrimaryColor);
    --secondaryColor: var(--pinkSecondaryColor);
    --backgroundColor: var(--pinkBackgroundColor);
    --containerColor: var(--pinkContainerColor);
    --onPrimaryColor: var(--lightOnPrimaryColor);
}

body.md3-pink-dark {
    --primaryColor: var(--darkPinkPrimaryColor);
    --secondaryColor: var(--darkPinkSecondaryColor);
    --backgroundColor: var(--darkPinkBackgroundColor);
    --containerColor: var(--darkPinkContainerColor);
    --onPrimaryColor: var(--darkPinkOnPrimaryColor);
    --disColor: var(--darkDisColor);
    --disBackgroundColor: var(--darkDisBackgroundColor);
}

body {
    font-family: var(--fontRobotoRegular);
    font-size: var(--fontSizeBody);
    box-sizing: border-box;
    background-color: var(--backgroundColor);
}

@import 'fonts';
@import '_buttons';
@import '/node_modules/normalize.css/normalize.css';
