:root {
    --fontProductRegular: 'Product Sans', sans-serif;
    --fontProductThin: 'Product Sans Thin', sans-serif;
    --fontProductBold: 'Product Sans Bold', sans-serif;
    --fontRobotoRegular: 'Roboto', sans-serif;
    --fontRobotoThin: 'Roboto Thin', sans-serif;
    --fontRobotoBold: 'Roboto Bold', sans-serif;
    --fontRobotoMonoRegular: 'Roboto Mono', monospace;
    --fontRobotoMonoThin: 'Roboto Mono Thin', monospace;
    --fontRobotoMonoBold: 'Roboto Mono Bold', monospace;
    --fontSizeHeadline: 32px;
    --fontSizeTitle: 22px;
    --fontSizeBody: 16px;
    --shadowSmall: 0px 1px 2px rgba(0, 0, 0, 0.3),
        0px 1px 3px 1px rgba(0, 0, 0, 0.15);
    --shadowMedium: 0px 4px 8px 3px rgba(0, 0, 0, 0.15),
        0px 1px 3px rgba(0, 0, 0, 0.3);
    --shadowLarge: 0px 8px 12px 6px rgba(0, 0, 0, 0.15),
        0px 4px 4px rgba(0, 0, 0, 0.3);
}

@import 'fonts';
