:root {
    --fontProductRegular: 'Product Sans', sans-serif;
    --fontProductThin: 'Product Sans Thin', sans-serif;
    --fontProductBold: 'Product Sans Bold', sans-serif;
    --fontRobotoRegular: 'Roboto', sans-serif;
    --fontRobotoThin: 'Roboto Thin', sans-serif;
    --fontRobotoBold: 'Roboto Bold', sans-serif;
    --fontRobotoMonoRegular: 'Roboto Mono', monospace;
    --fontRobotoMonoThin: 'Roboto Mono Thin', monospace;
    --fontRobotoMonoBold: 'Roboto Mono Bold', monospace;
}

@import 'fonts';
